*{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400px;
    color: #020024;
}

a{
    text-decoration: none;
}
.navbar {
    background: linear-gradient(94deg, #020024 10%, #020258 50%, #020024 90%);
    width: 100%;
    min-height: 100px;

}

.navbar-brand{
    margin: 0;
    font-size: 30pt;
}

.navbar-brand img{
    max-width: 180px;

}

.btn{
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 0 0.5em darkgray;
}

.btn:hover{
    background-color: #fff;
}

.drp-dwn{
    border-radius: 5px 0  0 5px;
}

.drp-dwn:focus{
    outline: 0;
    box-shadow: 0 0 0.5em darkgray;
}

.search-btn{
    border-radius: 0 5px  5px 0 ;
    border: none;
}
.search-btn:focus{
    box-shadow: 0 0 0.5em darkgray;
   outline: 0;
}

/* .formula{
    margin: 0 16px 0 0 ;
} */

.form-control{
    width: 500px;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 0.5em darkgray;
    padding: 0 0 0 8px;
}

.navi-menu{
    flex-grow: 0;
}

ul{
    margin: 0;
}

@media screen and (max-width: 800px) {
    .form-control{
        width: 300px;
    }


    
}

@media screen and (max-width: 500px) {
    .form-control{
        width: 200px;
    }
    .form-control::placeholder{
        font-size: 10pt;
    }
   
    .navbar-brand img{
        max-width: 150px;
    
    }
}

@media screen and (max-width: 400px) {
    .form-control{
        width: 180px;
        padding-top: 7px ;
        padding-bottom: 7px ;
    }
    .drp-dwn{
        width: 65px;
        padding: 10px 3px;
        font-size: 9pt;
        margin: auto;
    }
    .search-btn{
        width: 25px;
        padding: 6px 3px;
        font-size: 9pt;
    }
    .form-control::placeholder{

        margin: auto;


    }
    
}

.navbar-toggler{
    padding: 0;
}

.navbar-toggler:focus{
    box-shadow: none;
    border: none;
    outline: none;
}

@media screen and (min-width: 992px) {
    

.active{
    font-size: 15pt;
}

}
/* ============================================================================================================== */
.cards{
    margin-top: 20px;
}


.card{
    display: flex;
    align-items: center;
    padding-top: 30px;
    border: none;
}

.card-description{
        background: #020258;
        width: 100%;
        text-align: center;
        color: #fff;
        margin-top: 0;
        align-items: baseline;
}

.card-description i{
    color: #fff;
}


@media screen and (min-width: 1000px) {
    .content:hover img{
        height: 16rem;
    }
    
    .content .card:hover{
        box-shadow: 0.2em 0.5em 0.7em 0  #020258;
        border-radius: 10px;
    
    }
    .content .card-description{
        display: none;
    }
    
    
    .content:hover .card-description{
        display: block;
        
    
    
    }

}



.content  img{
    height: 15rem;
    padding-bottom: 10px;
    display: flex;

}

.card-body{
    text-align: center;

}
.card-text{
    text-align:justify;
    margin-bottom: 1;

}
.card-description i{
    margin-right: 2pt;
}



/* =================================================================================================================== */

.about-title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


/* =================================================================================================================== */


.text-description p{
    text-align: justify;
}

.text-description .buy-product{
    background-color: #020258;
    color: #fff;
    font-size: 25px;
}

.text-description .payment{
    font-size: 20pt;
}

.text-description a b{
    text-decoration: none;
    color: #fff;
}

.wpp-share{
    background-color: #4aae20;
    padding: 8px;
    border-radius: 8px;
}

.fb-share{
    background-color: #1778f2;
    padding: 8px;
    border-radius: 8px;
}

@media screen  and (max-width: 1200px){
    .img-description{
        height: 80%;
    }
    .text-description h3{
        margin-top: 20px;
    }
    .text-description a b{
        font-size: 10pt;
    }
}

.carousel-item{
    max-height: 610px;

}

.carousel-item img{
    max-height: 610px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23020258' viewBox='1.5 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23020258' viewBox='-1.5 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.details{
    margin-top: 50px;
    border: solid #02002431 0.025em;
    padding: 20px;
}


.details li{
    list-style: none;
    margin-top: 3px;
}

.details hr{
    border:  #02002411 ;
}

@media screen and (max-width: 600px) {
    .carousel-item{
        max-height: 410px;
    }
    
    .carousel-item img{
        max-height: 410px;
    }
}

@media screen and (max-width: 300px) {
    .carousel-item{
        max-height: 210px;
    }
    
    .carousel-item img{
        max-height: 210px;
    }
}
/* =================================================================================================================== */

footer{
    width: 100%;
    background-color: #020024;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}

.end-page p{
    color: #fff;
    margin-bottom: 0;
}

@media screen and (min-width:768px){
    .slow-content{
        position:absolute;
        bottom: 0;
    }
}

@media screen and (min-width:576px){
    .very-slow-content{
        position:absolute;
        bottom: 0;
    }
}
